{%- extends "piccolo_theme/layout.html" -%}


{% block scripts %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">

    {{ super() }}
{% endblock %}

{% block header %}
    <div id="top_nav">
        {% if theme_banner_text and theme_banner_text != 'false' %}
            {% include "./components/notification_banner.html" %}
        {% endif %}

        <nav>
            {% if logo_url %}
                {% set nav_title = '<img src="' + logo_url + '"/>' %}
            {% else %}
                {% set nav_title = shorttitle %}
            {% endif %}

            <h1><a href="/" title="Go to homepage">{{ nav_title }}</a></h1>


            {% include "_includes/menu.html" %}

            {%- if theme_source_url %}
                {% include "./components/source_link.html" %}
            {% endif %}

            {%- if pagename != "search" %}
                <p class="mobile_search_link">
                    <a href="{{ pathto('search') }}" title="Search">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 64" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2">
                            <path d="M14.873 40.009c-2.315-3.943-3.642-8.532-3.642-13.429C11.231 11.91 23.141 0 37.811 0s26.58 11.91 26.58 26.58-11.91 26.58-26.58 26.58a26.44 26.44 0 0 1-14.277-4.161L9.739 62.794a3.12 3.12 0 0 1-4.413 0L.913 58.382c-1.217-1.218-1.217-3.196 0-4.413l13.96-13.96zM37.811 8.054c10.225 0 18.526 8.301 18.526 18.526s-8.301 18.526-18.526 18.526-18.526-8.301-18.526-18.526S27.586 8.054 37.811 8.054z" fill="#fff" />
                        </svg>
                    </a>
                </p>
            {% endif %}

            {%- if doc_page %}
                <div class="searchbox_wrapper">
                    {% include "basic/searchbox.html" %}
                </div>
            {% endif %}

            <a href="https://github.com/hategan/stpr" class="gh">GitHub</a>
        </nav>
    </div>
{% endblock %}

{%- block body_tag %}<body class="page-{{pagename}} {{'docpage' if doc_page else 'notdocpage'}}" data-dark_mode_code_blocks="{{ 'true' if theme_dark_mode_code_blocks else 'false' }}">{% endblock %}

{%- block sidebar1 %}
    {%- if doc_page %}
        {{ super() }}
    {% endif %}
{% endblock %}


{% block sidebar2 %}
    {%- if doc_page %}
        <div id="right_sidebar">
            <h4>Page contents</h4>
            <div class="page_toc">
                {{ toc }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block rootrellink %}
    <li><a href="{{ pathto(theme_roottarget) }}">{{shorttitle|e}}</a>{% include "../../web/_includes/versionselect.html" %}{{reldelim1}}</li>
{% endblock %}


{% block footer %}
        {% include "_includes/footer.html" %}
{% endblock %}
